<header>
  <nav class="fixed z-50 w-full bg-white">
    <div class="container flex items-center justify-between m-auto">
      <h1 class="flex gap-2 py-4 pl-8 text-2xl font-bold cursor-pointer md:ml-0 flex-row text-[#3B5962]">
        SM
      </h1>
      <!-- Main Menu for Large Screens -->
      <ul class="items-center hidden pr-10 text-base font-semibold cursor-pointer lg:flex">
        <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
          <a (click)="scrollTo('home')">{{"home" | translate }}</a>
        </li>
        <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
          <a (click)="scrollTo('about')">{{"about" | translate }}</a>
        </li>
        <li class="px-6 py-4 duration-500 underlineHover">
          <a (click)="scrollTo('projects')">{{"projects" | translate }}</a>
        </li>
        <li class="px-6 py-4 duration-500 underlineHover">
          <a (click)="scrollTo('contacts')">{{"contact1" | translate }}</a>
        </li>
      </ul>

      <!-- Mobile Menu Button -->
      <button class="lg:hidden group">
        <mat-icon>menu</mat-icon>
        <!-- Mobile Menu -->
        <div class="absolute top-0 z-40 flex items-center w-8/12 h-screen ml-auto transition-all duration-500 bg-gray-900 md:w-5/12 right-full group-focus:right-0">
          <ul class="flex flex-col items-center w-full text-base font-semibold text-white cursor-pointer">
            <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
              <a (click)="scrollTo('home')">{{"home" | translate }}</a>
            </li>
            <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
              <a (click)="scrollTo('about')">{{"about" | translate }}</a>
            </li>
            <li class="px-6 py-4 duration-500 underlineHover">
              <a (click)="scrollTo('projects')">{{"projects" | translate }}</a>
            </li>
            <li class="px-6 py-4 duration-500 underlineHover">
              <a (click)="scrollTo('contacts')">{{"contact1" | translate }}</a>
            </li>
          </ul>
        </div>
      </button>
    </div>
  </nav>
</header>
