
<div class="z-0 flex flex-col justify-center min-h-screen py-6 bg-black sm:py-12">
  <!-- <h2 class="relative z-40 text-2xl text-center text-white text-bold"> My Journey</h2> -->
  <h2 class="z-40 max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-center text-white sm:text-4xl md:mx-auto">
    My Journey
</h2>
  <div class="w-full px-2 py-3 sm:max-w-xl sm:mx-auto sm:px-0">

    <div class="relative text-sm antialiased font-semibold text-gray-700 ">

      <!-- Vertical bar running through middle -->
      <div class="absolute hidden w-1 h-full transform -translate-x-1/2 bg-white sm:block left-1/2"></div>

      <!-- Left section, set by justify-start and sm:pr-8 -->
      <div class="mt-6 sm:mt-0 sm:mb-12 ">
        <div class="flex flex-col items-center sm:flex-row">
          <div class="flex items-center justify-start w-full mx-auto">
            <div class="w-full sm:w-1/2 sm:pr-8">
              <div class="p-4 border-2 border-white rounded shadow ">
                <p class="mb-1 text-sm font-normal leading-none text-white">{{"date1" | translate}}</p>
                <h3 class="text-2xl font-semibold text-white">{{"exp1" | translate}}</h3>
                <p class="mb-4 text-base font-normal text-white">{{"dec1" | translate}}</p>
              </div>
            </div>
          </div>
          <div
            class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-blue-500 border-4 border-white rounded-full left-1/2 sm:translate-y-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
            </svg>
          </div>
        </div>
      </div>

      <!-- Right section, set by justify-end and sm:pl-8 -->
      <div class="mt-6 sm:mt-0 sm:mb-12">
        <div class="flex flex-col items-center sm:flex-row">
          <div class="flex items-center justify-end w-full mx-auto">
            <div class="w-full sm:w-1/2 sm:pl-8">
              <div class="p-4 border-2 border-white rounded shadow ">
                <p class="mb-1 text-sm font-normal leading-none text-white">{{"date2" | translate}}</p>
                <h3 class="text-2xl font-semibold text-white">{{"exp2" | translate}}</h3>
                <p class="mb-4 text-base font-normal text-white">{{"dec2" | translate}}</p>
              </div>
            </div>
          </div>
          <div
            class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-blue-500 border-4 border-white rounded-full left-1/2 sm:translate-y-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
          </div>
        </div>
      </div>

      <!-- Left section, set by justify-start and sm:pr-8 -->
      <div class="mt-6 sm:mt-0 sm:mb-12">
        <div class="flex flex-col items-center sm:flex-row">
          <div class="flex items-center justify-start w-full mx-auto">
            <div class="w-full sm:w-1/2 sm:pr-8">
              <div class="p-4 border-2 border-white rounded shadow ">
                <p class="mb-1 text-sm font-normal leading-none text-white">{{"date3" | translate}}</p>
                <h3 class="text-2xl font-semibold text-white">{{"exp3" | translate}}</h3>
                <p class="mb-4 text-base font-normal text-white">{{"dec3" | translate}}</p>
              </div>
            </div>
          </div>
          <div
            class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-blue-500 border-4 border-white rounded-full left-1/2 sm:translate-y-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
