<app-header></app-header>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-experience id="experience"></app-experience>
<app-projects id="projects"></app-projects>
<app-contact id="contacts"></app-contact>

<div class="fixed z-50 bottom-6 right-6 ">
  <div class="flex items-center justify-center w-12 h-12 bg-white rounded-full ">
    <button (click)="switch()">

      <img src="assets/about/translate.png" alt="" class="p-2" >
    </button>
  </div>
</div>
